<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <form>
        <h1>STUDNET REGISTRATION FORM</h1>
            <hr>
            <hr>
        <table>
            <tr>
                <th>NAME</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>CLASS</th>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th>MAIL ID</th>
                <td><input type="email"></td>
            </tr>
            <tr>
                <th>PASSWORD</th>
                <td><input type="password"></td>
            </tr>
            <tr>
                <th>DOB</th>
                <td><input type="date"></td>
            </tr>

            <tr>
                <th>ADDRESS</th>
                <td><input type="text"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit"></td>
            </tr>
    </form>
</div>
</body>
</html>