<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}

<div align="center">

    <form method="Get">
        <h1>Registration User</h1>
            <table>

                <tr>
                    <th>FirstName</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th>Login</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <th>DOb</th>
                    <td><input type="text"></td>
                </tr>

                <tr>
                    <th>Address</th>
                    <td><input type="text"></td>
                </tr>

                <tr>
                    <th></th>
                    <td><input type="submit"></td>
                </tr>

        </table>

    </form>
</div>

</body>
</html>